<section class="js-stroll-page section section_type_main">
  <div class="container d-flex height-full position-relative flex-column justify-content-around align-items-center">
    <div class="welcome welcome_type_main">
      <h1 class="welcome__title">
        I love frontend<br>And I can show <span class="c-yellow">it</span>
      </h1>
      <div class="text-center hide-at-desktop my-2">
        <small class="section__small-text">but it not adapted for small devices yet, I'm sorry</small>
      </div>
    </div>
    <div class="section__description description">
      <div class="mb-5">
        <h3 class="description__title">
          How does it works
        </h3>
        <a href="" class="description__git-link">Git <img src="assets/images/github-character.png"></a>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Hi over there. Below collected some features that i can do. I will add new things here for portfolio and
            fix another for good experience. At any section I will leave for you «how does it works» link with other
            descriptions and maybe some interactive events. All of it was made by my own.</p>
        </div>
        <div class="col-6">
          <p>For now all of this is made with mix of bootstrap and BEM. It's bad practice, but i wanted to make it
            with BEM, to have some good instruments for making layouts and do it quickly. I made it in english
          just because it's competition too.</p>
        </div>
        <div class="col-12">
          <p>Background over here has made with convas — it's mix of circles, contrast and blur. It's bad practice
          for cpu optimisation, but i made canvas with 200 × 300 px and add to it width: 100% and blur effect. It's enough for
          background animation and not demanding on cpu so much.</p>
        </div>
      </div>
    </div>
    <div class="info-box w-100 align-items-end d-flex flex-row justify-content-between">
      <ul class="social-list">
        <li class="social-list__item">
          <a class="social-list__link" target="_blank" href="https://vk.com/igorfromtomsk"><img src="assets/images/vk-social-logotype.png"></a>
        </li>
        <li class="social-list__item social-list__item_codepen">
          <a class="social-list__link" target="_blank" href="https://codepen.io/igorformtomsk/"><img src="assets/images/3d-outlined-shape.png"></a>
        </li>
      </ul>
      <a href="" class="section__how-link" (click)="toggleDescription('section_type_main', $event)">how does it works →</a>
    </div>
  </div>
  <canvas class="section__bg_main" id="js_main_section_bg"></canvas>
</section>
<section class="js-stroll-page section section_type_about-me">
  <div class="container text-center position-relative">
    <div class="welcome welcome_theme_about-me">
      <small class="welcome__small-text welcome__subtitle c-yellow">About</small>
      <h3 class="welcome__title">I am Lednev Igor<br>frontend-developer</h3>
    </div>

    <div class="row text-left">
      <div class="col-4">
        <h4>About this website</h4>
        <div class="pt-2">
          <p class="section_about-me__text">I collected some examples of my competencies. This site is created with Angular and SCSS, and
          all sources you can find at «how does it works» link, or <a href="https://github.com/Igorfromtomsk/portfolio">here</a></p>
        </div>
      </div>
      <div class="col-4">
        <h4>Instruments</h4>
        <div class="pt-2 row">
          <ul class="col-6 section__list">
            <li class="section__list_item">PhpStorm</li>
            <li class="section__list_item">Zeplin</li>
            <li class="section__list_item">GIT</li>
            <li class="section__list_item">Scrum</li>
          </ul>
          <ul class="col-6 section__list">
            <li class="section__list_item">Photoshop</li>
            <li class="section__list_item">Illustrator</li>
            <li class="section__list_item">InDesign</li>
          </ul>
        </div>
      </div>
      <div class="col-4">
        <h4>Technology</h4>
        <div class="pt-2 row">
          <ul class="col-6 section__list">
            <li class="section__list_item">jQuery</li>
            <li class="section__list_item">AngularJS</li>
            <li class="section__list_item">Angular X</li>
            <li class="section__list_item">Bootstrap</li>
            <li class="section__list_item">BEM</li>
          </ul>
          <ul class="col-6 section__list">
            <li class="section__list_item">SCSS</li>
            <li class="section__list_item">LESS</li>
            <li class="section__list_item">Gulp</li>
            <li class="section__list_item">Webpack</li>
            <li class="section__list_item">Vagrant</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="js-stroll-page section section_alt section_type_hexagonal-grid">
  <div class="container height-full d-flex flex-column">
    <div class="section__header">
      <h3 class="section__title">Interactive board</h3>
      <small class="section__subtitle">making of hexagonal grid for some stuff</small>
    </div>
    <div class="section__content hexagonal-grid-box"></div>
    <div class="section__description description">
      <div class="mb-5">
        <h3 class="description__title">
          How does it works
        </h3>
        <a href="" class="description__git-link">hexagonal grid <img src="assets/images/github-character.png"></a>
      </div>
      <div class="row">
        <div class="col-6">
          <p>I made grid by rounds from center. At first I calculate how much rounds I need for filling all element,
            then I make every round with translation and rotation from center.</p>
        </div>
        <div class="col-6">
          <p>When I make third and subsequent rounds, I am looking for vector between two basic cells —
            that is how I can find centers of other cells at round. And I need to check if the new cell in the element
            before drawing.</p>
        </div>
      </div>
    </div>
    <div class="section__how-link-box">
      <a class="section__how-link" href="" (click)="toggleDescription('section_type_hexagonal-grid', $event)">how does it work →</a>
    </div>
  </div>
</section>
<section class="js-stroll-page section section_type_animations">
  <div class="container height-full">
    <div class="row height-full">
      <div class="col-2">
        <div class="section__header section__header_alt">
          <h3 class="section__title">Animations</h3>
          <small class="section__subtitle">some ccs animations</small>
        </div>
      </div>
      <div class="col-8 height-full">
        <app-slider></app-slider>
        <div class="section__description description">
          <div class="mb-2">
            <h3 class="description__title">
              How does it works
            </h3>
          </div>
          <div class="row">
            <div class="col-12 mb-5">
              <p>I made it with Adobe Illustrator at first and bring it to live with @keyframes and css transformation.</p>
            </div>
            <div class="col-6">
              <h4>First</h4>
              <p>It's almost like a preloader from Detroit Become Human game. 2 svg layers and a lot of animations,
                even 3d (but not matrix, just translation and rotation).</p>
            </div>
            <div class="col-6">
              <h4>Second</h4>
              <p>It's just demo of stroke animation for svg, and mix it with simple spinning animation.</p>
            </div>
        </div>
      </div>
      </div>
      <div class="col-2 height-full">
        <div class="section__how-link-box">
          <a href="" class="section__how-link" (click)="toggleDescription('section_type_animations', $event)">how does it works →</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="js-stroll-page section section_alt section_type_npm">
  <div class="container height-full d-flex flex-column">
    <div class="section__header">
      <h3 class="section__title">Terminal emulation</h3>
      <small class="section__subtitle">just for fun</small>
    </div>
    <div class="section__content">
      <div class="terminal">
        <div class="terminal__flow"></div>
        <div class="terminal_input_box">
          <span class="terminal__row-marker">~: </span>
          <iframe src='javascript: ""' frameborder="0" class="js_npm terminal__input"></iframe>
        </div>
      </div>
    </div>
    <div class="section__description description">
      <div class="mb-5">
        <h3 class="description__title">
          How does it works
        </h3>
        <a href="" class="description__git-link">terminal <img src="assets/images/github-character.png"></a>
      </div>
      <div class="row">
        <div class="col-6">
          <p>Looks like it's broken but it's not — it's small emulation of command line. You can type «help»
            for beginning.</p>
        </div>
        <div class="col-6">
          <p>For input line I've made iframe — only for fun and «making of texteditor» practice. I catch «keypress»
            events and do what I need from «commands array». I made a little framework for terminal emulation and at
            future I can add any other commands.</p>
        </div>
      </div>
    </div>
    <div class="section__how-link-box">
      <a class="section__how-link" (click)="toggleDescription('section_type_npm', $event)" href="">how does it work →</a>
    </div>
  </div>
</section>
<footer class="js-stroll-page footer d-flex flex-row align-items-center justify-content-center"><small class="section__small-text">All rights not reserved® | 2018 | Igorfromtomsk</small></footer>
<a class="to-top-link" (click)="scrollToTop()" href="#"><span>to top</span></a>