@import '../assets/variables';

.section {
  height: 90vh;
  width: 100%;
  background-color: #181818;
  position: relative;

  .container {
    position: relative;
  }

  &:nth-child(even) {
    background-color: #202020;

    .section__description {
      background-color: #202020;
    }
  }

  //types

  &_type_main {
    position: relative;
    padding-bottom: 3em;

    & .container {
      z-index: 2;

      &:before {
        content: '';
        display: block;
        flex-grow: 2;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-image: -webkit-repeating-radial-gradient($dot-color, transparent $dot-size, transparent 100%);
      background-image: -moz-repeating-radial-gradient($dot-color, transparent $dot-size, transparent 100%);
      background-image: -ms-repeating-radial-gradient($dot-color, transparent $dot-size, transparent 100%);
      background-image: repeating-radial-gradient($dot-color, transparent $dot-size, transparent 100%);
      background-size: $dot-space $dot-space;
    }

    &.section_description-is-shown {
      .welcome {
        opacity: 0;
      }
    }

    .section__description {
      background-color: transparent;
      bottom: 2rem;
      height: 50%;
    }
  }

  &_type_about-me {
    &__text {
      margin-top: 2rem;
    }

    .col-4 {
      &:first-child {
        padding-right: 4rem;
      }
      &:last-child {
        padding-left: 4rem;
      }
      &:nth-child(2) {
        padding-right: 2rem;
        padding-left: 2rem;
      }
    }
  }

  &_type_animations {
    padding-top: 10vh;
    padding-bottom: 3em;

    .section__description {
      left: auto;
      right: 0;
      width: 125%;
    }
  }

  &_type_hexagonal-grid {

    .hexagonal-grid-box {
      background-color: transparent;
      min-height: 200px;
      min-width: 200px;
      height: 300px;
      padding: 0;
      margin: 0;
      position: relative;

      ::ng-deep .balls-item.ball {
        z-index: 2;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        //background-color: black;
        position: absolute;
        color: white;
        transform: translate(-50%, -50%);
        -webkit-transition: ease .25s;
        -moz-transition: ease .25s;
        -ms-transition: ease .25s;
        -o-transition: ease .25s;
        transition: ease .25s;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;

        //&.ball-round-1 {
        //  opacity: 1;
        //}
        //
        //&.ball-round-2 {
        //  opacity: .8;
        //}
        //
        //&.ball-round-3 {
        //  opacity: .6;
        //}
        //
        //&.ball-round-4 {
        //  opacity: .4;
        //}
        //
        //&.ball-round-5 {
        //  opacity: .2;
        //}

        img {
          width: 100%;
          height: 100%;
        }

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }

        &:active {
          transform: translate(-50%, -50%) scale(.9);
        }
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: radial-gradient(closest-corner, rgba(24, 24, 24, 0), rgba(24, 24, 24, 0), #181818);
        //box-shadow: inset 0px 0px 20px 15px #181818fa;
      }
    }

    .section__description {
      top: 0;
      bottom: auto;
      height: calc(100% - 3rem);
      width: calc(100% - 1rem);
    }
  }

  &_type_npm {
    .section__content {
      padding-top: 10rem;
      background-color: transparent;
      color: white;
    }

    .section__description {
      bottom: auto;
      top: 0;
      width: calc(100% - 1rem);
      height: calc(100% - 3rem);
    }
  }

  //elements

  &__content {
    background-color: #bbb;
    flex-grow: 2;
  }

  &__header {
    position: relative;
    margin-left: 2rem;
    z-index: 4;

    .section__title {
      font-size: 3.43rem;
      line-height: 1.4em;
      padding: 4.5rem 0 1rem 2rem;
      position: absolute;
      left: 0;
      top: 0;

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: $c-yellow;
        left: 0;
        top: 0;
      }
    }

    .section__subtitle {
      display: block;
      padding: 1rem 0 1rem 2rem;
      color: $c-yellow;
      font-size: .875rem;
      text-transform: uppercase;
      font-family: 'Open Sanc', sans-serif;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }
  }
  &__header.section__header_alt {
    position: relative;

    .section__subtitle {
      font-family: 'Open Sans', sans-serif;
      font-size: .875rem;
      color: $c-yellow;
      text-transform: uppercase;
      white-space: nowrap;
      padding: 2.1rem 0 1rem 2rem;
    }

    .section__title {
      font-size: 3.4375rem;
      white-space: nowrap;
      padding: 0 0 0 2rem;
      position: relative;
      margin: 0;

      &:before {
        content: none;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $c-yellow;
    }
  }

  &__title {
    text-shadow: 0px 0px .5rem rgba(0, 0, 0, .5);
  }

  &__small-text {
    font-family: 'Open Sans', sans-serif;;
    font-weight: 300;
    opacity: .7;
    font-size: .875rem;
    text-transform: uppercase;
  }

  &__bg_main {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    filter: blur(5px) contrast(100%);
  }

  &__how-link {
    position: relative;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
    transition: ease .25s;
    white-space: nowrap;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 1.6rem;
      height: 2px;
      background-color: $c-yellow;
      -webkit-transition: ease .25s;
      -moz-transition: ease .25s;
      -ms-transition: ease .25s;
      -o-transition: ease .25s;
      transition: ease .25s;
      transform-origin: center center;
      opacity: 0;
    }

    &:before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &__how-link-box {
    position: relative;
    z-index: 2;
    padding-top: 261%;
    padding-bottom: 15%;

    &:before {
      content: '';
      display: block;
      width: 1px;
      height: 10vh;
      background-color: $c-yellow;
      margin-bottom: 1.1rem;
    }
  }

  &__list {
    margin: 2rem 0 0 0;
  }

  &__list_item {
    color: $c-yellow;
    font-family: 'Open Sanc', sans-serif;
    text-transform: uppercase;
    font-size: .875rem;
    list-style: none;
    line-height: 2em;
  }

  &__description {
    position: absolute;
    //pointer-events: none;
    background-color: #181818;
    opacity: 0;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
    transition: ease .25s;
  }

  //alternative

  &_alt {
    padding-top: 3em;
    padding-bottom: 3em;

    .section__how-link-box {
      text-align: right;
      position: relative;
      display: block;
      padding: 1rem 2rem 1rem 0;
      z-index: 3;

      &:before {
        content: none;
      }

      &:after {
        content: '';
        position: absolute;
        height: 10rem;
        width: 1px;
        background-color: $c-yellow;
        right: 0;
        bottom: 0;
      }
    }

    .section__how-link {
      &:after,
      &:before {
        right: 0;
        left: auto;
      }
    }

    .section__content {
      width: calc(100% - 2rem);
    }
  }

  &_description-is-shown {
    .section__description {
      opacity: 1;
      z-index: 5;
    }

    .section__how-link {
      color: transparent;
      border-color: transparent;

      &:after,
      &:before {
        opacity: 1;
      }

      &:before {
        transform: rotate(-45deg);
      }

      &:after {
        transform: rotate(45deg);
      }
    }
  }
}

.welcome {
  padding-bottom: 10vh;
  -webkit-transition: ease .25s;
  -moz-transition: ease .25s;
  -ms-transition: ease .25s;
  -o-transition: ease .25s;
  transition: ease .25s;

  &_theme_about-me {
    padding-top: 0;

    .welcome__title {
      padding: 0;
      border: none;
    }

    &:before {
      content: '';
      display: block;
      height: 10vh;
      width: 1px;
      position: absolute;
      left: 50%;
      top: 0;
      background-color: $c-yellow;
    }
  }

  &__cats-list {
    text-align: center;
    padding: 0;
    margin: 1em;

    li {
      padding-left: 1em;
      margin-right: 1em;
      line-height: 1em;
      list-style: none;
      text-align: center;

      a {
        cursor: pointer;
        border-bottom-width: 0;
      }

      & + li {
        border-left: 1px solid $c-yellow;
      }
    }
  }

  &__title {
    text-align: center;
    padding: 1em 1.4em;
    line-height: 1.4em;
    margin: 0;
    font-size: 3.43rem;
    border: 1px solid rgba(255, 255, 255, .25);
  }

  &__small-text {
    font-family: 'Open Sans', sans-serif;;
    font-weight: 600;
    font-size: .875rem;
    text-transform: uppercase;
  }

  &__subtitle {
    padding-top: calc(10vh + 1rem);
    padding-bottom: .3rem;
    display: block;
  }

  &_type_main {
    flex-grow: 2;
  }
}

.footer {
  background-color: #202020;
  min-height: 20vh;
}

.terminal {
  opacity: .85;
  height: 100%;
  color: white;
  font-family: 'Source Code Pro', monospace;

  &__flow {
    padding: 0;
    margin: 0;
  }

  ::ng-deep .terminal__line {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
  }

  &__input_box {
    display: flex;
    flex-direction: row;
  }

  &__row-marker {
    vertical-align: top;
    display: inline-block;
    height: 1.7rem;
    line-height: 1.7rem;
    padding-right: .2rem;
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
  }

  &__input {
    border: none;
    display: inline;
    height: 1.7rem;
    vertical-align: middle;
  }
}

.description {
  &__git-link {
    color: $c-yellow;
    font-family: 'Open Sanc', sans-serif;

    img {
      height: 1rem;
      vertical-align: text-top;
    }
  }
}

.social-list {
  margin: 0;
  padding: 0;

  &__item {
    list-style: none;
    display: inline-block;
    vertical-align: middle;

    & + .social-list__item {
      margin-left: 1rem;
    }

    &_codepen .social-list__link {
      background-color: white;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      height: 2rem;
      width: 2rem;

      img {
        height: 1.4rem;
      }
    }
  }

  &__link {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: ease .25s;
    -moz-transition: ease .25s;
    -ms-transition: ease .25s;
    -o-transition: ease .25s;
    transition: ease .25s;

    img {
      height: 2rem;
    }

    &:hover {
      transform: scale(1.2);
    }
  }
}

.to-top-link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  width: 2rem;
  height: 100%;
  -webkit-transition: ease .25s;
  -moz-transition: ease .25s;
  -ms-transition: ease .25s;
  -o-transition: ease .25s;
  transition: ease .25s;
  transform: translate(100%, 0);
  background-color: rgba(0, 0, 0, .05);
  border: none;

  span {
    display: block;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Open Sans', sans-serif;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: .875rem;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .25);
  }
}