/* You can add global styles to this file, and also import other style files */
@import 'assets/variables';

body {
  color: white;
  font-family: Merriweather, sans-serif;

  &.scrolled .to-top-link {
    transform: translate(0, 0);
  }
}

p {
  font-family: 'Open Sans', sans-serif;;
  font-weight: normal;
  font-size: .875rem;
  color: #bbbbbb;
  line-height: 2em;
}

a {
  text-decoration: none;
  color: $c-yellow;
  border-bottom: .125em dashed $c-yellow;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }

  &:hover {
    border-bottom-style: solid;
    color: $c-yellow;
  }

  &.how-link {
    font-family: 'Open Sans', sans-serif;;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 100;
    border-bottom-width: 0;
  }
}

.c {
  &-yellow {
    color: $c-yellow;
  }
}

.height {
  &-full {
    height: 100%;
  }
}